@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


  .cards {
    position: relative;
    background: var(--dark);
    width: 200px;
    height: 250px;
    padding: 3px;

    margin: 50px;
    transition:  0.5s;
  }

  .cards::after{
    filter: blur(40px);
  }
  .cards:hover::before,
  .cards:hover::after{
    opacity: 1;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  .cards img:nth-child(1){
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 96%;
    height:96%;

    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .cards:hover img:nth-child(1){
    opacity: 0;
  }
  .cards img:nth-child(2){
    position: absolute;
    bottom: 0%;
    width: 140%;
    left: 0%;
    transform: translateX(-25%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .cards:hover img:nth-child(2){
    opacity: 1;
  }

